<div class="form-container">
    <form (ngSubmit)="guardar(formulario)" #formulario="ngForm" class="custom-form">
        <label class="form-label">ID</label>
        <input type="text" name="id" [(ngModel)]="id" class="form-control">

        <label class="form-label">Email</label>
        <input type="email" name="email" [(ngModel)]="email" class="form-control">

        <label class="form-label">Password</label>
        <input type="password" name="password" [(ngModel)]="password" class="form-control">

        <label class="form-label">Rol</label>
        <select name="role" [(ngModel)]="role" class="form-control">
            <option value="admin">admin</option>
            <option value="mesero">mesero</option>
        </select>

        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
