<div id="carouselMultiItemExample" data-mdb-carousel-init class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <div class="carousel-inner py-4">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    @for (item of productos; track item) {
                    <div class="col-lg-4">
                        <div class="card product-card" style="margin-top: 20px">
                            <img src={{item.url}} class="card-img-top" alt="{{item.nombre}}"/>
                            <div class="card-body">
                                <h5 class="card-title">{{item.nombre}}</h5>
                                <p class="card-text">{{item.precio}}</p>
                                <a [routerLink]="['/detalle-productos', item.productoID]" class="btn btn-primary btn-details">Más Detalles</a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
