<header>
    <div class="container">
        <h1>Restaurante Chifa Shenyang</h1>
        <nav>
            <ul>
                <li class="nav-item">
                    <a routerLink="home">Home</a>
                </li>

                <!-- Mostrar lista de menú para 'admin' -->
                <li class="nav-item" *ngIf="ocultar2 === 'mesero'">
                    <a routerLink="productos">Lista Menu</a>
                </li>

                <!-- Mostrar lista de menú para 'admin' -->
                <li class="nav-item" *ngIf="ocultar2 === 'admin'">
                    <a routerLink="lista-menu">Lista Menu</a>
                </li>

                <!-- Mostrar lista de usuarios para 'admin' -->
                <li class="nav-item" *ngIf="ocultar2 === 'admin'">
                    <a routerLink="usuarios">Lista Usuarios</a>
                </li>

                <!-- Mostrar lista de órdenes y agregar órden para 'mesero' -->
                <li class="nav-item" *ngIf="ocultar2 === 'mesero'">
                    <a routerLink="lista-ordenes">Lista de Ordenes</a>
                </li>
                <li class="nav-item" *ngIf="ocultar2 === 'mesero'">
                    <a routerLink="agregar-orden">Orden</a>
                </li>
                
                <!-- Ocultar Registro e Iniciar Sesión al iniciar -->
                <li class="nav-item" *ngIf="ocultar !== 'true'">
                    <a routerLink="registro" style="margin-left: 15px;">Registro</a>
                </li>

                <li class="nav-item" *ngIf="ocultar !== 'true'">
                    <a routerLink="login" style="margin-left: 15px;">Iniciar Sesión</a>
                </li>

                <!-- Mostrar botón de Cerrar Sesión si ocultar es 'true' -->
                <li class="nav-item" *ngIf="ocultar === 'true'">
                    <button class="btn btn-danger" (click)="cerrar()">Cerrar Sesión</button>
                </li>
            </ul>
        </nav>
    </div>
</header>