<header>
    <div class="container">
        <h1>Restaurante Chifa shenyang </h1>
        <nav>
            <ul>
                <li class="nav-item">
                    <a routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="productos">Menu</a>
                </li>
                <li class="nav-item">
                    <a routerLink="lista-menu">Lista Menu</a>
                </li>
                <li class="nav-item">
                    <a  routerLink="usuarios">Lista Usuarios</a>
                </li>
                <li class="nav-item">
                    <a  routerLink="lista-ordenes">Lista de Ordenes</a>
                </li>
                <li class="nav-item">
                    <a  routerLink="agregar-orden">Agregar Orden</a>
                </li>
                <li class="nav-item">
                    <a  routerLink="registro" style="margin-left: 15px;">Registro</a>
                </li>
                <li class="nav-item">
                    <a  routerLink="login" style="margin-left: 15px;">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger" (click)="cerrar()">Cerrar Sesión</button>
                </li>
            </ul>
        </nav>
    </div>
</header>